body {
    background-color: #79669c;
    font-family: 'Balsamiq Sans', cursive;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);    
    }

a {
    background-color: #79669c;
    font: 10 px;
    font-family: 'Balsamiq Sans', cursive;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05); 
    }

li {
    float: right;
    display: inline;
    }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 159px;
    text-decoration: none;
    }

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    }
    
.header { grid-area: 1 / 1 / 2 / 7; }
.twitter { grid-area: 2 / 1 / 11 / 3; }
.insta { grid-area: 2 / 3 / 11 / 6; }