body {
    background-color: #ffe9e4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #d6a0f5;
    font-size: 30px;
}

h2 {
  font-size: 25px;
}

ul {
    background-color: #d6a0f5;
}

p { 
    font-style: italic;
    font-weight: bold;
}